 
/* Styles for the card */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
  }
  .card {
    border: 1px solidrgb(255, 255, 255);
    border-radius: 8px;
    width: 330px;
    margin: 16px;
    background-color: rgb(255, 255, 255);
  }
  .flex {
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
    align-items: baseline;
  }
  .card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
    height: 300px;
  }
  .card h3 {
    margin: 0;
    font-size: 18px;
  }
  .card p {
    margin: 8px 0;
    font-size: 14px;
  }
  .lightText {
    color: #888;
  }
  /* Responsive styles */
  @media screen and (max-width: 390px) {
    main {
      grid-template-columns: repeat(1, 1fr);
      place-items: center;
    }
    .card {
      width: 300px;
    }
  }
  